{%extends 'dashboard.html'%}

{%block tab_title%}Edit Profile{%endblock%}

{%block content%}{%csrf_token%}
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="my-4" style="color:Gray;"> Edit Profile</h1>
            <form method="POST" action="." enctype="multipart/form-data">{%csrf_token%}
<!--                <div class="form-group">-->
<!--&lt;!&ndash;                    <label for="exampleInputEmail1">Title</label>&ndash;&gt;-->
<!--                    <input type="text" class="form-control" id="title">-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--&lt;!&ndash;                    <label for="exampleFormControlTextarea1">Example textarea</label>&ndash;&gt;-->
<!--                    <textarea class="form-control" id="content" rows="5"></textarea>-->
<!--                </div>-->
                {{form.as_p}}
                    <br>
                  <button type="submit" class="btn btn-secondary btn-lg btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>
<!--<form method="POST" action=".">{%csrf_token%}-->
<!--{{form.as_p}}-->
<!--<button type="submit">Submit</button>-->
<!--</form>-->

{%endblock%}